@define-color background rgba(50,0,0,0.8);
@define-color button_background rgba(252,55,55,0.5);
@define-color highlight rgba(255,72,7,0.8);
@define-color label rgba(132,58,0,0.7);
@define-color border-color rgba(180,0,0,0);
@define-color text #ebdbb2;

#waybar { 
  background-color: @background; 
  color: @text;
	padding: 100px;

}

#workspaces button:first-child {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
#workspaces button:last-child {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

#workspaces button {
	background-color: @button_background;
}	

#workspaces button.active {
	background-color: @highlight;
}

#workspaces button label{
	background-color: transparent;
}

label{
	font-size:1.5em;
	background-color: @button_background;
	border-color: red;
	border-style: solid;
	border-radius: 2px;
	padding: 3px;
}


